body {
  margin: 0;
  font-family:
    'Poppins',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}

/* for Common scrollbar css */
::-webkit-scrollbar {
  width: 5px !important;
  height: 0px !important;
}

/* Add your styles for the tooltip title here */
.MuiTooltip-tooltip {
  font-weight: 600 !important;
  background: #eaf1ef !important;
  color: #357968 !important;
  font-size: 18px;
  /* Add any other styles you need */
}

.MuiTooltip-arrow {
  color: #357968 !important;
}
